body {
    background-color: #e9cfcf;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    }

header {
    background-color: #e6b6b6;
    height: 70px;
    padding-top: 1em;

    }   

li {
    display: inline-block;
    text-decoration: none;
    padding-left: 5em;
    padding-right: 5em;
}

section {
    max-width: 40em;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 1px;
    margin-top: 6em;
    margin-bottom: 6em;
    text-transform: uppercase;
    background-color: #fff;
    }

footer {
    background-color: #e97e7e;
    height: 50px;
    padding-top: 1em;
    text-transform: uppercase;
    margin: 0;
    }   